/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variable */
:root{
    --navbar-height:59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    position: sticky;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Navigation bar:logo and image */
#logo{
    margin: 10px 30px;
     
}
#logo img{
    height: 50px;
    margin: 3px 6px;

}
/* Navigation bar: list styling */

#navbar ul{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center ;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 31px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(150, 140, 140);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

/* Client section */
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 120px;
    margin: 2px 6px;
}
/* contact section */
#contact {
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("../contact.jpg");
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.0rem;
}
#contact-box form{
    width: 35%;
}
#contact-box label{
    font-size: 1.0rem;
    font-family:Arial, Helvetica, sans-serif;
}

/* Utility class */
.h-primary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.3rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.0rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 6px;
}